<div class="page-container">
  <div class="d-flex flex-column">
    <div class="pt-lg-2 pl-lg-4 pr-lg-4 pb-lg-1 position-relative">
      <kbxl-shipping-search-criteria
        [criteria]="pagingUiHelper.filter$ | async"
        [equipment]="equipment$ | async | toTreeNodes"
        [states]="states$ | async"
        [isMobile]="isMobile$ | async"
        [serviceTypes]="serviceTypes$ | async"
        (search)="search($event)"
        (clear)="clear()"
      ></kbxl-shipping-search-criteria>
    </div>
    <kbxl-color-bar></kbxl-color-bar>
    <div class="grid-container pl-lg-4 pr-lg-4">
      <kbxl-shipping-grid
        [loading]="loading$ | async"
        [loads]="loads$ | async"
        [user]="user$ | async"
        [serviceTypes]="serviceTypes$ | async"
        (selected)="selected($event)"
        (lazyLoad)="onLazyLoadEvent($event)"
        [lazy]="true"
        [totalRecords]="totalRecords$ | async"
      ></kbxl-shipping-grid>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
