<div class="progress-indicator" *ngIf="loading">
  <div class="progressspinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
<div *ngIf="instructions">
  <p-panel styleClass="ui-panel-no-pad ui-panel-borderless">
    <p-header>
      <div class="d-flex justify-content-between pr-2">
        <span>Special Instructions</span>
        <button
          pButton
          (click)="addClick()"
          icon="pi pi-plus"
          label="Add New"
          type="button"
          class="ui-button-primary ui-button-teal"
        ></button>
      </div>
    </p-header>
    <p-table
      [rowHover]="true"
      [value]="instructions"
      selectionMode="single"
      #table
      styleClass="ui-table-no-border"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50, 100]"
      [first]="first"
      (onPage)="onPage($event)"
    >
      <ng-template pTemplate="header">
        <tr>
          <th [pSortableColumn]="'name'">
            Name
            <p-sortIcon [field]="'name'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'description'">
            Description
            <p-sortIcon [field]="'description'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'originDescription'">
            Origin
            <p-sortIcon [field]="'originDescription'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'destinationDescription'">
            Destination
            <p-sortIcon [field]="'destinationDescription'"></p-sortIcon>
          </th>
          <th>
            Equipment
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-instruction>
        <tr (click)="onRowSelect(instruction)" [pSelectableRow]="instruction">
          <td>{{ instruction.name }}</td>
          <td>{{ instruction.description }}</td>
          <td>{{ instruction.originDescription }}</td>
          <td>{{ instruction.destinationDescription }}</td>
          <td>{{ getEquipmentCategoryDisplay(instruction) }}</td>
          <td>
            <p-scrollPanel [style]="{ width: '100%', maxHeight: '200px' }">
              <div [innerHTML]="instruction.comments"></div>
            </p-scrollPanel>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-panel>
</div>
<div class="d-lg-none pt-2">
  <div class="title-bar">
    <span>Special Instructions</span>
  </div>
  <div class="instruction-item" *ngFor="let instruction of instructions">
    <p-card styleClass="instruction-grid-card" (click)="onRowSelect(instruction)">
      <p-header>
        <div>
          {{ instruction.name }}
        </div>
      </p-header>
      <div class="d-flex flex-column instruction-item-detail">
        <div class="d-flex flex-wrap align-items-center">
          <div class="flex-grow-1">
            <span>Description</span>
          </div>
          <div>
            <span>{{ instruction.description }}</span>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
          <div class="flex-grow-1">
            <span>Origin</span>
          </div>
          <div>
            <span>{{ instruction.originDescription }}</span>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
          <div class="flex-grow-1">
            <span>Destination</span>
          </div>
          <div>
            <span>{{ instruction.destinationDescription }}</span>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
          <div class="flex-grow-1">
            <span>Equipment</span>
          </div>
          <div>
            <span>{{ instruction.specialInstructionEquipment?.length || 0 }}</span>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
          <div class="flex-grow-1">
            <span>Special Instructions</span>
          </div>
          <div>
            <span [innerHTML]="instruction.comments"></span>
          </div>
        </div>
      </div>
    </p-card>
  </div>
  <div>
    <button
      pButton
      (click)="addClick()"
      icon="pi pi-plus"
      label="Add New"
      type="button"
      class="ui-button-primary mobile-add-button ui-button-teal"
    ></button>
  </div>
</div>
