@import 'variables';

.sidebar-close {
  color: $loadshopGray5;
  font-size: 12px;
  font-weight: $bold-font-weight;
  line-height: 18px;
  width: 150px;
  cursor: pointer;

  .sidebar-close-arrow {
    margin-right: 10px;
  }
}

.sidebar-close:hover {
  color: $loadshopWhite;
}
