@import 'variables';

.stops-container {
  color: $loadshopWhite;
  font-family: objektiv-mk1, sans-serif;

  .stop-header {
    margin-top: 10px;
    height: 30px;
    font-size: 12px;
    font-weight: $bold-font-weight;
    line-height: 18px;
  }

  .stop-details {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    div {
      margin-bottom: 3px;
    }
  }
}
