<div class="page-container">
  <div class="d-none d-lg-block">
    <p-panel styleClass="ui-panel-no-pad ui-panel-borderless">
      <p-header>
        <div class="d-flex justify-content-between">
          <span></span>
          <button
            *ngIf="showExport"
            pButton
            type="button"
            class="button-outline-secondary"
            label="Export Data"
            (click)="table.exportCSV()"
            style="float: left;"
          >
            <fa-icon class="file-csv-icon" [icon]="['fas', 'file-csv']"></fa-icon>
          </button>
        </div>
      </p-header>
      <p-table
        [rowHover]="true"
        [columns]="columns"
        [value]="loads"
        #table
        styleClass="ui-table-no-border"
        [loading]="loading"
        selectionMode="single"
        [paginator]="true"
        [rows]="50"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        [first]="first"
        (onPage)="onPage($event)"
        [lazy]="lazy"
        [totalRecords]="totalRecords"
        (onLazyLoad)="onLazyLoad($event)"
      >
        <ng-template pTemplate="header">
          <tr>
            <th [pSortableColumn]="'referenceLoadDisplay'">
              Shipper’s Order Number
              <p-sortIcon [field]="'referenceLoadDisplay'"></p-sortIcon>
            </th>
            <th *ngIf="isBookedLoads || isDeliveredLoads" [pSortableColumn]="'billingLoadDisplay'">
              Billing Load ID
              <p-sortIcon [field]="'billingLoadDisplay'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'originCity'">
              Origin
              <p-sortIcon [field]="'originCity'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'destCity'">
              Destination
              <p-sortIcon [field]="'destCity'"></p-sortIcon>
            </th>
            <th *ngIf="!isBookedLoads && !isDeliveredLoads && !user?.isShipper" [pSortableColumn]="'distanceFrom'" style="width: 85px;">
              Origin Radius
              <p-sortIcon [field]="'distanceFrom'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'originLateDtTm'">
              Pickup
              <p-sortIcon [field]="'originLateDtTm'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'destLateDtTm'">
              Delivery
              <p-sortIcon [field]="'destLateDtTm'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'equipmentCategoryId'">
              Equipment
              <p-sortIcon [field]="'equipmentCategoryId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'equipmentTypeDisplay'">
              Equipment Detail
              <p-sortIcon [field]="'equipmentTypeDisplay'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'serviceTypes'">
              Service Types
              <p-sortIcon [field]="'equipmentCategoryId'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'miles'" style="width: 125px;">
              Distance (Mi)
              <p-sortIcon [field]="'miles'"></p-sortIcon>
            </th>
            <th [pSortableColumn]="'lineHaulRate'">
              Total Rate
              <p-sortIcon [field]="'lineHaulRate'"></p-sortIcon>
            </th>
            <th *ngIf="isBookedLoads || isDeliveredLoads" [pSortableColumn]="'scac'" style="width: 90px;">
              SCAC
              <p-sortIcon [field]="'scac'"></p-sortIcon>
            </th>
            <th *ngIf="isBookedLoads" [pSortableColumn]="'currentStatus'">
              Status
              <p-sortIcon [field]="'currentStatus'"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-loads let-rowIndex="rowIndex">
          <tr (click)="onRowSelect(loads)" [pSelectableRow]="loads">
            <td>
              <kbxl-customer-type-icon
                [referenceLoadDisplay]="loads.referenceLoadDisplay"
                [customerLoadTypeId]="loads.customerLoadTypeId"
              ></kbxl-customer-type-icon>
            </td>
            <td [hidden]="!isBookedLoads && !isDeliveredLoads">
              {{ loads.billingLoadDisplay }}
            </td>
            <td>{{ loads.originCity | titlecase }}, {{ loads.originState }}</td>
            <td>{{ loads.destCity | titlecase }}, {{ loads.destState }}</td>
            <td [hidden]="isBookedLoads || isDeliveredLoads || user?.isShipper" class="text-center">
              {{ loads.distanceFrom ? loads.distanceFrom + ' mi' : 'N/A' }}
            </td>

            <td>
              <span *ngIf="loads.originEarlyDtTm && loads.originEarlyDtTm !== loads.originLateDtTm">
                {{ loads.originEarlyDtTm | date: 'short' }}
                <br />{{ loads.originLateDtTm | date: 'short' }}
              </span>
              <span *ngIf="!loads.originEarlyDtTm || loads.originEarlyDtTm === loads.originLateDtTm">
                {{ loads.originLateDtTm | date: 'short' }}
              </span>
            </td>
            <td>
              <span *ngIf="loads.destEarlyDtTm && loads.destEarlyDtTm !== loads.destLateDtTm">
                {{ loads.destEarlyDtTm | date: 'short' }}
                <br />{{ loads.destLateDtTm | date: 'short' }}
              </span>
              <span *ngIf="!loads.destEarlyDtTm || loads.destEarlyDtTm === loads.destLateDtTm">
                {{ loads.destLateDtTm | date: 'short' }}
              </span>
            </td>
            <td>
              {{ loads.equipmentCategoryId }}
            </td>
            <td>
              {{ loads.equipmentTypeDisplay }}
            </td>
            <td
              (mouseenter)="serviceTypeMouseHover(loads, serviceTypesOverlay, $event)"
              (mouseleave)="serviceTypeMouseHoverOut(serviceTypesOverlay)"
            >
              {{ getServiceTypes(loads) }}
            </td>
            <td class="text-right">
              {{ loads.miles }}
            </td>
            <td
              class="text-right"
              (mouseenter)="hoveredPricingRow = loads; pricingOverlay.show($event)"
              (mouseleave)="pricingOverlay.hide($event); hoveredPricingRow = null"
            >
              <fa-icon *ngIf="loads.isEstimatedFSC" [icon]="['fas', 'asterisk']" class="estimated-fsc-icon orange"></fa-icon>
              {{ loads.lineHaulRate + loads.fuelRate | currency }}
            </td>
            <td [hidden]="!isBookedLoads && !isDeliveredLoads">
              {{ loads.scac }}
            </td>
            <td [hidden]="!isBookedLoads">
              {{ loads.currentStatus }}
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="numberOfColumns" style="text-align: center; height: 80px;">
              <span *ngIf="loading">Loading...</span>
              <span *ngIf="!loading">No results</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>
  </div>
  <div class="d-lg-none">
    <div class="load-item" *ngFor="let load of loads; let i = index">
      <a (click)="onRowSelect(load)">
        <p-card styleClass="load-grid-card">
          <p-header>
            <div class="d-flex flex-column">
              <div class="d-flex flex-wrap align-items-center">
                <div class="flex-grow-1">
                  <div class="trip-origin">
                    <div class="trip-marker-icon">
                      <fa-icon [icon]="['far', 'circle']" size="md"></fa-icon>
                    </div>
                    <span class="trip-text">{{ load.originCity | titlecase }}, {{ load.originState }}</span>
                  </div>
                  <div class="trip-ellipsis-icon">
                    <fa-icon [icon]="['fas', 'ellipsis-v']" size="md"></fa-icon>
                  </div>
                  <div class="trip-destination">
                    <div class="trip-marker-icon">
                      <fa-icon [icon]="['fas', 'map-marker-alt']" size="md"></fa-icon>
                    </div>
                    <span class="trip-text">{{ load.destCity | titlecase }}, {{ load.destState }}</span>
                  </div>
                </div>
                <div>
                  <p class="all-in-rate-value">{{ load.lineHaulRate + load.fuelRate | currency }}</p>
                  <p class="all-in-rate-label text-right">Total Rate</p>
                </div>
              </div>
            </div>
          </p-header>
          <div class="d-flex flex-column load-item-detail">
            <div class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>Shipper’s Order Number</span>
              </div>
              <div>
                <span>{{ load.referenceLoadDisplay }}</span>
              </div>
            </div>
            <div *ngIf="isBookedLoads || isDeliveredLoads" class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>Billing Load ID</span>
              </div>
              <div>
                <span>{{ load.billingLoadDisplay }}</span>
              </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>Pickup</span>
              </div>
              <div>
                <span *ngIf="load.originEarlyDtTm && load.originEarlyDtTm !== load.originLateDtTm">
                  {{ load.originEarlyDtTm | date: 'short' }} - {{ load.originLateDtTm | date: 'short' }}
                </span>
                <span *ngIf="!load.originEarlyDtTm || load.originEarlyDtTm === load.originLateDtTm">
                  {{ load.originLateDtTm | date: 'short' }}
                </span>
              </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>Delivery</span>
              </div>
              <div>
                <span *ngIf="load.destEarlyDtTm && load.destEarlyDtTm !== load.destLateDtTm">
                  {{ load.destEarlyDtTm | date: 'short' }} - {{ load.destLateDtTm | date: 'short' }}
                </span>
                <span *ngIf="!load.destEarlyDtTm || load.destEarlyDtTm === load.destLateDtTm">
                  {{ load.destLateDtTm | date: 'short' }}
                </span>
              </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>Distance</span>
              </div>
              <div>
                <span>{{ load.miles }}</span>
              </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>Equipment</span>
              </div>
              <div>
                <span>{{ load.equipmentCategoryId }} - {{ load.equipmentTypeDisplay }}</span>
              </div>
            </div>
            <div class="d-flex flex-wrap align-items-center" *ngIf="load.serviceTypeIds?.length > 0">
              <div class="flex-grow-1">
                <span>Service Types</span>
              </div>
              <div>
                <span>{{ getServiceTypeNames(load) }}</span>
              </div>
            </div>
            <div *ngIf="isBookedLoads || isDeliveredLoads" class="d-flex flex-wrap align-items-center">
              <div class="flex-grow-1">
                <span>SCAC</span>
              </div>
              <div>
                <span>{{ load.scac }}</span>
              </div>
            </div>
          </div>
        </p-card>
      </a>
    </div>
  </div>
</div>
<p-overlayPanel #pricingOverlay showTransitionOptions="0ms" hideTransitionOptions="0ms">
  <table *ngIf="hoveredPricingRow" class="pricing-table">
    <thead>
      <tr>
        <th></th>
        <th>Line Haul</th>
        <th>
          <fa-icon [icon]="['fas', 'plus']" size="md"></fa-icon>
        </th>
        <th>
          <span *ngIf="!hoveredPricingRow.isEstimatedFSC">FSC</span>
          <span *ngIf="hoveredPricingRow.isEstimatedFSC"><i>* Est FSC </i></span>
        </th>
        <th>
          <fa-icon [icon]="['fas', 'equals']" size="md"></fa-icon>
        </th>
        <th>Total Rate</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td>{{ hoveredPricingRow.lineHaulRate | currency }}</td>
        <td>
          <fa-icon [icon]="['fas', 'plus']" size="md"></fa-icon>
        </td>
        <td>{{ hoveredPricingRow.fuelRate | currency }}</td>
        <td>
          <fa-icon [icon]="['fas', 'equals']" size="md"></fa-icon>
        </td>
        <td class="pricing-detail">{{ hoveredPricingRow.lineHaulRate + hoveredPricingRow.fuelRate | currency }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</p-overlayPanel>

<p-overlayPanel #serviceTypesOverlay showTransitionOptions="0ms" hideTransitionOptions="0ms">
  <div *ngIf="hoveredPricingRow">
    {{ getServiceTypesHover(hoveredPricingRow) }}
  </div>
</p-overlayPanel>
